/**********************************************
   Banner 
***********************************************/ 

.banner-container {
	max-width: 1740px;
	width: 100%;
	margin: 0 auto;
	background: $color-beige;
	position: relative;
	@include border-radius(0px 0px 100px 100px);
	border-top: 20px solid $color-orange;
	padding: 80px 0 100px;
	color: $color-white;
	@media #{$tablet-landscape} {
		padding: 80px 0 100px;
	}
	@media #{$tablet-portrait} {
		padding: 80px 0 100px;
	}
	@media #{$mobile-landscape} {
		padding: 40px 0 50px;
		@include border-radius(0px 0px 50px 50px);
	}
	h1 {
		color: $color-white;
	}
	.row {
		display: flex;
		align-items: center;

		@media #{$mobile-landscape} {
			flex-direction: column;
			justify-content: center;
		}
	}
	&:before {
		position: absolute;
		content: "";
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: url(../images/bg-image.jpg) repeat left top;
		mix-blend-mode: multiply;
		@include border-radius(0px 0px 100px 100px);
		@media #{$mobile-landscape} {
			@include border-radius(0px 0px 50px 50px);
		}
	}
	.center-col {
		@media #{$mobile-landscape} {
			display: block;
		}
	}
	h1 {
		font-size: 90px;
		font-weight: 700;
		line-height: 0.9;
		letter-spacing: -0.05em;
		margin-bottom: 15px;
		@media only screen and (min-width: 1200px) and (max-width: 1499px){ 
			font-size: 80px;
		}
		@media #{$tablet-landscape} {
			font-size: 66px;
		}
		@media #{$tablet-portrait} {
			font-size: 50px;
		}
		@media #{$mobile-landscape} {
			font-size: 40px;
			letter-spacing: 0px;
			margin-bottom: 30px;
		}
		@media #{$mobile-portrait} {
			font-size: 40px;
			letter-spacing: -3px;
		}
	}
	.report-block {
		margin-left: 48px;
		@media only screen and (min-width: 1200px) and (max-width: 1499px){ 
			margin-left: 10px;
		}
		@media #{$tablet-landscape} {
			margin-left: 0;
		}
		@media #{$tablet-portrait} {
			margin-left: 0;
		}
		@media #{$mobile-landscape} {
			margin: 0 auto;
		}
	}
	strong {
		color: #fff;
	}
}
.content-wrap {
	width: 100%;
	max-width: 715px;
	@include flexbox;
	@include align-items(flex-start);
	@media #{$mobile-landscape} {
		margin-bottom:20px;
	}
	p {
		margin-bottom: 0;
		padding-left: 28px;
		font-size: $size-h5;
		line-height: 1.58;
		@media #{$mobile-landscape} {
			padding-left: 20px;
			font-size: 16px;
		}
	}
	img {
		margin-top: 15px;
	}
}
.report-block {
	max-width: 244px;
	width: 100%;
	background: $color-white;
	@include border-radius(0px 0px 10px 10px);
	@media #{$tablet-landscape} {
		max-width: 229px;
	}
	@media #{$tablet-portrait} {
		max-width: 229px;
	}
	@media #{$mobile-portrait} {
		min-height: 320px;
	}
}
.top-content {
	width: 100%;
	min-height: 320px;
	background-image: url("/dist/images/cover.png");
	background-size: cover;
	@media only screen and (min-width: 1200px) and (max-width: 1499px){ 
		min-height: 320px;
	}
	@media #{$tablet-landscape} {
		min-height: 300px;
	}
	@media #{$tablet-portrait} {
		min-height: 300px;
	}
	@media #{$mobile-landscape} {
		min-height: 300px;
	}
	@media #{$mobile-portrait} {
		min-height: 300px;
	}
}
.button-wrap {
	width: 100%;
	overflow: hidden;
	@include border-radius(0px 0px 10px 10px);
}
.download-btn {
	display: block;
	width: 100%;
	background: $color-yellow;
	text-align: center;
	position: relative;
	height: 60px;
	line-height: 60px;
	color: $color-black;
	text-transform: uppercase;
	font-family: $gotham-bld;
	font-size: 15px;
	@media #{$tablet-portrait} {
		font-size: $size-base;
	}
	&:after {
		display: inline-block;
		vertical-align: middle;
		position: relative;
		content: "";
		width: 23px;
		height: 23px;
		background: url(../images/download.svg) no-repeat center center;
		background-size: 100%;
		margin-left: 10px;
		@include transition (all .3s ease-in-out);
		@media #{$tablet-portrait} {
			margin-left: 4px;
		}
	}
	&:hover,
	&:focus {
		background: $color-mustard;
		color: $color-white;
		&:after {
			background: url(../images/download-white.svg) no-repeat center center;
		}
	}
}