/**********************************************
   Home 
***********************************************/ 

.content-container {
	width: 100%;
	padding: 77px 0 60px;
	.row {
		@include flexbox;
		@media #{$mobile-landscape} {
			display: block;
		}
	}
	.col-2 {
	    @include flexbox;
	    @media #{$mobile-landscape} {
			display: block;
		}
	}
	@media #{$tablet-landscape} {
		.col-2 {
		    width: 16.66%;
		}
		.col-10 {
		    width: 79.33%;
		}
	}
	@media #{$tablet-portrait} {
		.col-2 {
		    width: 18.66%;
		}
		.col-10 {
		    width: 77.33%;
		}
	}
	@media #{$mobile-landscape} {
		padding: 40px 0 20px;
	}
}
.content-block {
	width: 100%;
	padding-left: 26px;
	@media #{$mobile-landscape} {
		padding: 30px 0 0;
	}
}
#block2 .content-inner {

}
.content-row {
	width: 100%;
	display: block;
	margin-top: 50px;
	&:first-of-type {
		margin-top: 0;
	}
	@media #{$tablet-portrait} {
		margin-top: 80px;
	}
	@media #{$mobile-landscape} {
		margin-top: 30px;
	}
	h2 {
		margin-bottom: 20px;
		@media #{$tablet-portrait} {
			margin-bottom: 15px;
		}
		@media #{$mobile-landscape} {
		    margin-bottom: 15px;
		    word-wrap: break-word;
		}
	}
	p {
		a {
			color: $color-black;
			text-decoration: underline;
			word-break: break-all;
		}
	}
	&.distribution {
		h2 {
			margin-bottom: 20px;
		}
		p {
			/*font-size: $size-base;
			line-height: 1.18;*/
		}
	}
	&.breakdown {
		h2 {
			margin-bottom: 20px;
			@media #{$mobile-landscape} {
				margin-bottom: 15px;
			}
		}
	}
}
.sidebar-widget {
	width: 100%;
	max-width: 178px;
	position: absolute;
	@media #{$mobile-landscape} {
		max-width: 100%;
		position: relative!important;
		&.sticksy-dummy-node {
			display: none!important;
		}
	}
	h6 {
		text-transform: uppercase;
		border-bottom: 1px solid $color-beige;
		font-size: $txt-sm;
		padding-bottom: 24px;
		margin-bottom: 24px;
	}
	ul {
		display: block;
		width: 100%;
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			display: block;
			width: 100%;
			margin-top: 28px;
			@media #{$mobile-landscape} {
				margin-top: 10px;
			}
			&:first-child {
				margin-top: 0;
			}
			a {
				display: inline-block;
				font-size: $txt-size;
				line-height: 1.33;
				color: $color-black;
				@media only screen and (min-width: 1200px) and (max-width: 1499px){ 
					letter-spacing: -0.1px;
				}
				@media #{$tablet-portrait} {
					font-size: $size-base;
				}
				&:hover,
				&:focus {
					color: $color-orange;
				}
			}
			&.current {
				a {
					color: $color-orange;
					font-family: $gotham-med;
				}
			}
		}
	}
}
.content-inner {
	width: 100%;
	@include flexbox;
	@include flex-wrap(wrap);
	margin-top: 55px;
	@media #{$tablet-portrait} {
		margin-top: 40px;
	}
	@media #{$mobile-landscape} {
		margin-top: 30px;
	}
	&:first-of-type {
		margin-top: 0;
	}
	&.recommendation {
		align-items: center;
		margin-bottom: 15px;
		@media #{$tablet-portrait} {
			margin-bottom: 0;
		}
	}
}
.content-col {
	width: 50%;
	padding: 0 0 0 14px;
	&.col-45 {
		width: 45%;
		@media #{$tablet-portrait} {
			width: 100%;
			margin-bottom: 15px;
		}
	}
	&.col-55 {
		width: 55%;
		@media #{$tablet-portrait} {
			width: 100%;
		}
	}
	@media #{$tablet-portrait} {
		width: 100%;
		padding: 14px 0 0;
	}
	@media #{$mobile-landscape} {
	    width: 100%;
		padding: 10px 0 0;
	}
	&:first-child {
		padding: 0 32px 0 0;
		@media #{$tablet-portrait} {
			padding: 14px 0 0;
		}
		@media #{$mobile-landscape} {
			padding: 0;
		}
	}
	img {
		display: block;
	}
}
.button-block {
	@include flexbox;
	@include justify-content(center);
	@include flex-direction(column);
	padding: 68px 0 0;
	@media #{$tablet-portrait} {
		padding: 30px 0 20px;
	}
	@media #{$mobile-landscape} {
		padding: 20px 0 20px;
	}
	.btn-default {
		margin: 10px auto 0;
	}
}
.graph-card {
	@include flexbox;
	@include flex-direction(column);
	@include justify-content(center);
	@include align-items(center);
	padding: 28px 20px;
	border: 1px solid $color-beige;
	@include border-radius(10px);
	max-width: 524px;
	width: 100%;
	height: 232px;
	margin-top: 29px;
	text-align: center;
	@media #{$mobile-landscape} {
		margin-top: 20px;
		height: 160px;
		padding: 28px 15px;
	}
	&:first-of-type {
		margin-top: 0;
		@media #{$mobile-landscape} {
			margin-top: 20px;
		}
	}
	h3 {
		font-size: 55px;
		font-family: $gotham-blk;
		@media #{$tablet-landscape} {
			font-size: 50px;
		}
		@media #{$mobile-landscape} {
		    font-size: 40px;
		}
		span {
			color: $color-mustard;
			
		}
	}
	p {
		margin-bottom: 0;
		font-family: $gotham-reg;
		font-weight: 500;
		font-size: 22px;
	}
}
.order-md-2 {
	@media #{$tablet-portrait} {
		@include order(2);
	}
	@media #{$mobile-landscape} {
		@include order(2);
	}
}
.order-md-1 {
	@media #{$tablet-portrait} {
		@include order(1);
	}
	@media #{$mobile-landscape} {
		@include order(1);
	}
}
.tab-links {
	list-style: none;
	@include flexbox;
	width: 100%;
	margin: 0 0 40px;
	padding: 30px 0 0;
	@media #{$tablet-portrait} {
		margin: 0 0 30px;
		padding: 10px 0 0;
	}
	@media #{$mobile-landscape} {
		@include flex-wrap(wrap);
		margin: 0 0 25px;
		padding: 0;
	}
	li {
		@include flexbox;
		@include align-items(center);
		@include justify-content(center);
		padding: 0 5px;
		border-left: 1px solid $color-beige;
		text-align: center;
		width: 17%;
		max-height: 38px;
		@media #{$tablet-landscape} {
			max-height: 53px;
			padding: 0 3px;
		}
		@media #{$mobile-landscape} {
			width: 100%;
			max-height: inherit;
			border-left: 0;
			border-bottom: 1px solid $color-beige;
			padding: 10px 10px 12px;
		}
		&:first-child {
			border-left: 0;
		}
		a {
			display: inline-block;
			color: $color-black;
			font-size: $size-base;
			line-height: 1.18;
			@media only screen and (min-width: 1200px) and (max-width: 1499px){ 
				font-size: 15px;
			}
			@media #{$tablet-landscape} {
				font-size: 15px;
				letter-spacing: -0.1px;
			}
			@media #{$tablet-portrait} {
				font-size: 11px;
				letter-spacing: -0.1px;
			}
			&:hover,
			&:focus {
				font-family: $gotham-med;
				text-decoration: underline;
				text-decoration-color: $color-mustard;
			}
		}
		&.active {
			a {
				font-family: $gotham-med;
				text-decoration: underline;
				text-decoration-color: $color-mustard;
			}
		}
	}
}
.map-block {
	width: 100%;
	img {
		display: block;
		width: 100%;
	}
}


.text-box {
    background: $color-gray-light;
    padding: 23px 23px;
    @include border-radius(12px);
    margin: 58px 0 0;
    
     @media #{$tablet-landscape} {
        margin: 40px 0 0;
     }
     @media #{$tablet-portrait} {
        margin: 40px 0 0;
     }
     @media #{$mobile-landscape} {
        margin: 28px 0 0;
     }

    
    li{
        list-style-position: inside;
    }
    ol{
        padding: 0 0 0 4px;
        > li{
            list-style-type: none;
            font-family: $roboto-reg;
                     
            strong{
                font-weight: normal;
                font-family: $roboto-bld;
                @include flexbox;
                span{
                    min-width: 22px;
                }
            }
        }
        ol{
            li{
                list-style-type: lower-alpha;
            }
        }
    }
    ol.lower {
        list-style-type: lower-alpha;
        padding: 0 0 0 29px;
        text-indent: 0px; 
        margin-left: 20px; 
        @media #{$mobile-landscape} {
           padding: 0 0 0 24px;
        }
        li{
            list-style: lower-alpha;
        }
    }
    h5{
        padding: 0 0 25px;
        
        @media #{$tablet-portrait} {
            font-size: 20px;
        }        
        @media #{$mobile-landscape} {
           padding: 0 0 15px;
            font-size: 20px;
        }
    }
}
.center-col {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.method-list {
    @include flexbox;
    padding: 36px 0 0;   
       
    @media #{$tablet-portrait} {
      @include flex-direction(column);
      padding: 0;
    }
	@media #{$mobile-landscape} {
		@include flex-direction(column);
		padding: 0;
	}
    
    li{
        list-style: none;
        width: 33%;
        padding: 32px;
        
        @media #{$desktop-xl} {
			padding: 32px;
        }
        @media #{$tablet-landscape} {
			padding: 25px;
        }
        @media #{$tablet-portrait} {
			width: 100%;
			padding: 32px;
        }
		@media #{$mobile-landscape} {
			width: 100%;
			padding: 32px;
		}

        img{
			margin: 0 0 20px;
			display: block;
			/*@media #{$tablet-portrait} {
                width: 40px;
            }
            @media #{$mobile-landscape} {
               margin: 0;
            }*/
        }
    }
    
}

.chart-block {
	@include flexbox;
	width: 100%;
	justify-content: center;
}
.chart-block-wrapper {
	border: 1px solid #9BAFB5;
	border-radius: 12px;
	box-sizing: border-box;
	padding: 15px;
	width: 100%;

	.chart-legend {
		font-size: 14px;
		text-align: center;
		padding-bottom: 5px;
		font-family: $gotham-bld;
		color: #656665;
		letter-spacing: -0.2px;
	}
}
.piechart1 {
	width: 55%;
}
.piechart2 {
	width: 45%;
	margin-top: 4%;
}
.fixed-sidebar {
	position: relative;
	width: 100%;
}
p strong{
	color:#33a995;
}

#block1 .content-inner {
	margin-top: 30px;
	@media #{$tablet-landscape} {
		margin-top: 20px;
	}
}
p i {
	font-style: italic;
	color:#33a995;
}